body {
  font-family: sans-serif;
  background-color: #f9f9f9;
}

.person {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.person h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.checkbox-container label {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}

.progress-bar {
  position: relative;
  height: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar .pitt-progress,
.progress-bar .gracie-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #007bff;
}
